
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Content/Admin/vendor/chart.js/Chart.js"></script>
@{
	string[] arrayList = new string[12];
	arrayList = (string[])ViewBag.dateX;
	string[] dt = new string[12];
	dt = (string[])ViewBag.data;
	string name = "Doanh thu";
}
@* hiện biểu đồ*@
<canvas id="myChart" width="60" height="30"></canvas>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["@arrayList[0]","@arrayList[1]","@arrayList[2]","@arrayList[3]","@arrayList[4]","@arrayList[5]","@arrayList[6]","@arrayList[7]","@arrayList[8]","@arrayList[9]","@arrayList[10]","@arrayList[11]"],
            datasets: [{
                label: '@name',
                data: [@dt[0],@dt[1],@dt[2],@dt[3],@dt[4],@dt[5],@dt[6],@dt[7],@dt[8],@dt[9],@dt[10],@dt[11]],
                backgroundColor: [
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',

                ],
                borderColor: [
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)'

                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>


<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
		<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
	</div>
	<!-- Content Row -->
	<div class="row">
		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tháng</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@arrayList[0]</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-calendar fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Doanh thu</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@dt[0] $</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
							<div class="row no-gutters align-items-center">
								<div class="col-auto">
									<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
								</div>
								<div class="col">
									<div class="progress progress-sm mr-2">
										<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Pending Requests Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-comments fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Content Row -->
	<!-- Content Row -->
	<div class="row">
		<!-------------------------------------------------------------------------------------------------------------------------------------------->
		<!---1-->
		<div class="col-lg-4 mb-4 ">
			<a class="card bg-warning text-white shadow border-bottom-primary" href="@Url.Action("Index","Items")">
				<div class="card-body ">
					<i class="fas fa-cube fa-2x text-gray-300"></i>
					<h6 style="font-weight: bold;">All Product</h6>
				</div>
			</a>
		</div>
		<!---2---->
		<div class="col-lg-4 mb-4">
			<a class="card bg-primary text-white shadow border-bottom-success" href="@Url.Action("Index","ItemTypes")">
				<div class="card-body">
					<i class="fas fa-th-large fa-2x text-gray-300"></i>
					<h6 style="font-weight: bold;">New Product type</h6>
				</div>
			</a>
		</div>
		<!---3---->
		<div class="col-lg-4 mb-4">
			<a class="card bg-success text-white shadow border-bottom-danger" href="@Url.Action("Index","BAnners")">
				<div class="card-body">
					<i class="fas fa-sticky-note fa-2x text-gray-300"></i>
					<h6 style="font-weight: bold;">Edit Banner</h6>
				</div>
			</a>
		</div>
		<!----4--->
		<div class="col-lg-4 mb-4">
			<a class="card bg-danger text-white shadow border-bottom-danger" href="@Url.Action("ListOrder","Admin")">
				<div class="card-body">
					<i class="fas fa-shopping-cart fa-2x text-gray-300"></i>
					<h6 style="font-weight: bold;">All Oders</h6>
				</div>
			</a>
		</div>
		<!----5--->
		<div class="col-lg-4 mb-4">
			<a class="card bg-info border-bottom-primary text-white shadow" href="buttons.html">
				<div class="card-body">
					<i class="fas fa-building fa-2x text-gray-300"></i>
					<h6 style="font-weight: bold;">New Trademark</h6>
				</div>
			</a>
		</div>
		<!---6---->
		<div class="col-lg-4 mb-4">
			<a class="card bg-primary border-bottom-warning text-white shadow" href="buttons.html">
				<div class="card-body">
					<i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
					<h6 style="font-weight: bold;">New Cutom</h6>
				</div>
			</a>
		</div>

		<!-- Area Chart -->
		<div class="col-xl-8 col-lg-7">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
					<div class="dropdown no-arrow">
						<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
							<div class="dropdown-header">Dropdown Header:</div>
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<div class="chart-area">
						<canvas id="myAreaChart"></canvas>
					</div>
				</div>
			</div>
		</div>

		<!-- Pie Chart -->
		<div class="col-xl-4 col-lg-5">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
					<div class="dropdown no-arrow">
						<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
							<div class="dropdown-header">Dropdown Header:</div>
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<div class="chart-pie pt-4 pb-2">
						<canvas id="myPieChart"></canvas>
					</div>
					<div class="mt-4 text-center small">
						<span class="mr-2">
							<i class="fas fa-circle text-primary"></i> Direct
						</span>
						<span class="mr-2">
							<i class="fas fa-circle text-success"></i> Social
						</span>
						<span class="mr-2">
							<i class="fas fa-circle text-info"></i> Referral
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Content Row -->
	<!-- Content Row -->

</div>
<!-- /.container-fluid -->
      </div>